body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.hidden-window {
  display: none;
}

.second-page__container {
  min-width: 280px;
  max-width: 1020px;
  margin: auto;
}

.second-page__wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.second-page__wrapper:after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 830px;
}

.hidden-window {
  position: relative;
  background: url('../images/bg.jpg') center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*HEADER*/

.second-page__header {
  margin-bottom: 30px;
}

.second-page__header .second-page__container {
  position: relative;
  z-index: 100;
}

.second-page__header-wrapper {
  position: relative;
  padding: 3px;
}

.second-page__header-wrapper:after {
  content: "";
  position: absolute;
  right: -85px;
  bottom: -105px;
  display: block;
  width: 249px;
  height: 243px;
}

.second-page__header-inner {
  position: relative;
  padding: 15px 15px 15px 0;
  font-size: 0;
  text-align: right;
}

.second-page__header .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 70px;
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.second-page__header .logo:before {
  content: '';
  background: url("logo_decore.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 300px;
  height: 160px;
  position: absolute;
  top: 50%;
  right: 100%;
  margin: -80px 30px 0 0;
}

.second-page__header .logo span {
  position: relative;
}

.second-page__header .stamp-list {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  font-size: 0;
}

.second-page__header .stamp-list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

/*MAIN*/

.second-page__main {
  font-size: 0;
  text-align: center;
}

.second-page__main .second-page__main-left,
.second-page__main .second-page__main-right {
  position: relative;
  z-index: 1000;

  display: inline-block;

  vertical-align: top;
}

.second-page__main-left {
  width: 63%;
  margin-right: 4.2%;
}

.second-page__main-right {
  position: relative;
  width: 32.8%;
}

.second-page__main-left .inner-block {
  display: table;
  width: 100%;
  padding-bottom: 25px;
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.inner-block-wrapper {
  position: relative;
  padding: 4px;
  background: #20282d;
}

@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes thumb {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hidden-window .second-page__main-right .hidden-window-form.js_scrollForm.active {
  -webkit-animation: thumb 100ms linear 6;
  animation: thumb 100ms linear 6;
}

.slider-list li:nth-child(3) .inner-block-wrapper .hidden-window__item__product-wrapper {
  margin-left: 65px;
}

.slider-list li:nth-child(4) .inner-block-wrapper .hidden-window__item__product-wrapper {
  margin-left: 20px;
}

.slider-list li:nth-child(4) .hidden-window__item__product-wrapper img:nth-child(3) {
  left: 65px;
}

.slider-list li:nth-child(5) .hidden-window__item__product-wrapper img:nth-child(1) {
  bottom: -5px;
  left: 23px;
}

.slider-list li:nth-child(5) .hidden-window__item__product-wrapper img:nth-child(2) {
  z-index: 1;

  margin-left: -87px;
}

.slider-list li:nth-child(5) .hidden-window__item__product-wrapper img:nth-child(3) {
  left: 150px;
}

.slider-list li:nth-child(5) .present-block__text {
  left: -15px;
}

.slider-list li:nth-child(5) .present-block__images img:nth-child(3) {
  left: -3px;
}

.slider-list li:nth-child(3) .hidden-window__item-img .present-block {
  left: 145px;
}

.slider-list li:nth-child(3) .present-block__images:before {
  left: -11px;
}

.slider-list li:nth-child(3) .present-block__text {
  left: -25px;
}

.slider-list li:nth-child(4) .hidden-window__item-img .present-block {
  left: 145px;
}

.slider-list li:nth-child(4) .present-block__text {
  left: -30px;
}

.slider-list li:nth-child(4) .present-block__images img:nth-child(3) {
  left: -15px;
}

.hidden-window__item {
  display: table-cell;
  width: 40%;
  padding-top: 40px;
  vertical-align: top;
}

.slider-list li:nth-child(4) .present-block__images:before {
  top: 5px;
  left: -20px;
  margin: auto;
}

.h-w-text-total {
  margin: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.h-w-text-total span {
  font-weight: 700;
  font-size: 30px;
  color: #d60832;
}

.second-page__main-left .bx-bx > li[data-value="3"].active .inner-block-wrapper,
.second-page__main-left .bx-bx > li[data-id="2"].active .inner-block-wrapper {
  background: #ab000d;
}

.second-page__main-left .bx-bx > li.active .inner-block-wrapper {
  background: #ab000d;
}

.inner-block__description {
  display: table-cell;
  padding-right: 25px;
  vertical-align: top;
}

.hidden-window .h-w-check {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 1000;
  width: 27px;
  height: 27px;
  margin-top: -13px;
  -webkit-box-shadow: 0 0 0 4px #000;
  box-shadow: 0 0 0 4px #000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hidden-window .h-w-check:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 26px;
  height: 26px;
  margin: auto;
  font-size: 20px;
  background: url('../images/check4.png') no-repeat center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hidden-window .second-page__main .bx-bx > li.active .h-w-check:before {
  opacity: 1;
}

.hidden-window__item-img {
  position: relative;
  margin-right: 20px;
}

.hidden-window__item-sale {
  position: absolute;
  top: 20px;
  left: 4px;
  width: 145px;
  text-align: center;
  padding: 5px 15px 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: url("item_decore.png") left center no-repeat;
  background-size: cover;
}

.hidden-window__item__product-wrapper {
  margin-top: 20px;
}

.hidden-window__item__product-wrapper img {
  position: relative;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.hidden-window__item__product-wrapper img.one_package:nth-child(1) {
  height: 165px;
  margin-left: 60px;
}

.hidden-window__item__product-wrapper img:nth-child(1) {
  z-index: 20;
  height: 150px;
}

.hidden-window__item__product-wrapper img:nth-child(2) {
  z-index: 15;
  height: 120px;
  margin-left: -35px;
}

.hidden-window__item__product-wrapper img:nth-child(3) {
  position: absolute;
  bottom: 15px;
  left: 120px;
  height: 120px;
}

.hidden-window__item__product-wrapper img:nth-child(4) {
  position: absolute;
  right: 40px;
  bottom: 10px;
  height: 120px;
}

.hidden-window__item-img .present-block {
  position: absolute;
  top: 135px;
  left: 130px;
  z-index: 100;
}

.present-block__images {
  position: relative;
}

.present-block__images:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  z-index: 1;
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#a42d2e), to(#e68f8f));
  background: -webkit-linear-gradient(bottom, #a42d2e, #e68f8f);
  background: -moz-linear-gradient(bottom, #a42d2e, #e68f8f);
  background: -o-linear-gradient(bottom, #a42d2e, #e68f8f);
  background: linear-gradient(to top, #a42d2e, #e68f8f);
  border: 3px solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.present-block__images:after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 0;
  margin: -5px 0 0 -20px;
  z-index: 30;
  color: #ab000d;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  font-size: 33px;
  font-weight: 900;
}

.present-block__images img {
  position: relative;
  z-index: 2;
  max-height: 75px;
}

.present-block__images img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: -15px;
  height: 60px;
}

.present-block__images img:nth-child(2) {
  height: 60px;
  margin-left: -10px;
}

.present-block__text {
  position: absolute;
  bottom: -20px;
  left: -28px;
  z-index: 20;
  width: 93px;
  padding: 5px 2px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  background: #477dad;
}

.hidden-window__item__best {
  position: absolute;
  top: 4px;
  left: 180px;
  width: 85px;
  padding-top: 5px;
     padding-bottom: 5px;
  background: #20282d;
}

.hidden-window__item__best:before {
  content: '';
  background: url("stars.svg") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 40px;
  height: 10px;
  display: block;
  margin: 0 auto;
}

.hidden-window__item__best:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  border-right: 40px solid transparent;
  border-bottom: 15px solid #ffffff;
  border-left: 40px solid transparent;
}

.hidden-window__item__best p {
  margin: 10px 0;
  margin-top: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #ffffff;
  padding-top: 5px;
  text-transform: uppercase;
}

.hidden-window__item-sale span {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  vertical-align: text-bottom;
}

.inner-block__description-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
}

.inner-block__description-tagline {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
}

.inner-block__description-result {
  position: relative;
  display: block;
  max-width: 295px;
  margin: 15px auto;
  padding: 10px 20px 10px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#5c90bc), to(#69a2d3));
  background: -webkit-linear-gradient(left, #5c90bc, #69a2d3);
  background: -o-linear-gradient(left, #5c90bc, #69a2d3);
  background: linear-gradient(to right, #5c90bc, #69a2d3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.inner-block__description-result:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border: 8px solid transparent;
  border-right: 8px solid #5c90bc;
}

.inner-block__description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.hidden-window__item-balance span {
  font-weight: 700;
  font-size: 60px;
  color: #b62c30;
}

.hidden-window__item-balance {
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 45px;
}

.inner-block .present {
  width: 93px;
  padding: 5px 7px;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  background: #20282d;
}

.inner-block__description-price {
  position: relative;
  padding: 15px 0;
  font-size: 30px;
  text-align: left;
  border: dashed #292f33;
  border-width: 1px 0;
}

.inner-block__description-price:before {
  top: 0;
}

.inner-block__description-price:after {
  bottom: 0;
}

.inner-block__description-price--new {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  line-height: 25px;
  vertical-align: bottom;
  color: #58a600;
}

.inner-block__description-price span,
.inner-block__description-price--new span {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  color: #b62c30;
}

.inner-block__description-price .price-text,
.inner-block__description-price--new span.price-text {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.inner-block__description-price--old {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  vertical-align: bottom;
  color: #a3a3a3;
}

/*RIGHT SIDE*/

.second-page__form {
  position: relative;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 20px;
  background: #20282d;
}

.input_inner {
  padding: 0 29px;
}

.second-page__form .custom-field,
.second-page__form .inp,
input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  margin-bottom: 10px;
  padding: 10px 35px 10px 15px;
  font-size: 15px;
  color: #000;
  outline: none !important;
  background-color: #fff;
}

input::placeholder,
input.inp::placeholder {
  color: #000;
}

.second-page__main input[name="street"],
.second-page__main input[name="city"] {
  width: 275px;
}

.second-page__main input[name="floor"],
.second-page__main input[name="housing"],
.second-page__main input[name="apartment"] {
 
  display: inline-block;
  margin-top: 0;
}

.second-page__main input[name="floor"] {
  margin-right: 15px
}

.second-page__form .textarea-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 275px;
  min-height: 120px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 15px;
  border: 1px solid #83aa1c;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.change-select {
  text-indent: 0.01px;
  text-overflow: "";
  background: #ffffff url(sel.png) no-repeat 95%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  -o-text-overflow: "";
}

.second-page__main-right h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  text-transform: uppercase;
}

.second-page__main-right .second-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.slider-list li {
  margin-bottom: 20px;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.hidden-window .bx-viewport {
  overflow: visible !important;
}

.slider-list li:last-child {
  margin-bottom: 0;
}

.second-page__form--pay-delivery {
  display: block;
  width: 275px;
  margin: auto;
  margin-top: 12px;
  padding: 20px 10px;
  background: #20282d;
}

.second-page__main .delivery-price {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
}

.second-page__form-button {
  width: 255px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to top, #4f7996, #69a2d3);
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
}

.second-page__form-button:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.transition-text {
  position: relative;
  margin: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-style: italic;
}

.transition-text:before,
.transition-text:after {
  content: "";
  position: absolute;
  top: 12px;
  display: block;
  width: 72px;
  height: 1px;
  background: #638015;
}

.transition-text:before {
  left: 20px;
}

.transition-text:after {
  right: 20px;
}

.pay-link {
  display: block;
  width: 255px;
  margin: auto;
  padding: 20px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#ab000d), to(#df5c60));
  background: -webkit-linear-gradient(bottom, #ab000d, #df5c60);
  background: -o-linear-gradient(bottom, #ab000d, #df5c60);
  background: linear-gradient(to top, #ab000d, #df5c60);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 10px rgba(000, 000, 000, 1);
  box-shadow: 0 2px 10px rgba(000, 000, 000, 1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.second-page__form--free-delivery {
  right: 0;
  left: 0;
  display: block;
  width: 275px;
  margin: 0 auto -30px;
  padding: 20px 10px;
  background: #000;
}

.pay-link:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.second-page__main .tape-text {
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 6px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.cards-list {
  font-size: 0;
  text-align: center;
}

.cards-list li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.cards-list li:last-child {
  margin-right: 0;
}

.h-w-guarantee {
  margin-top: 40px;
}

.h-w-guarantee h3 {
  padding: 30px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background: #20282d;
}

.guarantee-list {
  padding: 25px 20px;
  text-align: left;
  background: #fff;
  border: 1px solid #20282d;
}

.guarantee-list li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 30px;
  font-size: 15px;
  line-height: 18px;
}

.guarantee-list li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  width: 24px;
  height: 27px;
  background: url('../images/check.png') no-repeat center;
}

.guarantee-list li:last-child {
  margin-bottom: 0;
}

.guarantee-list li b {
  font-size: 18px;
}

.second-page__main-left--bottom-text {
  display: block;
  max-width: 690px;
  margin: auto;
  padding: 120px 100px 60px;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #fff;
}

.second-page__main-left--bottom-text span {
  display: block;
  text-transform: uppercase;
}

.second-page__main-left--bottom-text br {
  display: none;
}

.stamp-list__bottom {
  padding-top: 25px;
  padding-bottom: 80px;
  font-size: 0;
  text-align: center;
  border-top: 2px solid #fff;
}

.stamp-list__bottom img {
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
}

.stamp-list__bottom img:last-child {
  margin-right: 0;
}

.mobile-confirmation,
.second-page__form--mobile-pay {
  display: none;
}

.hidden-window__item-img {
  position: relative;
  width: 230px;
  height: 215px;
  margin: 0 auto;
}

.bx-bx > li[data-value] .h-w-item-prod:before {
  width: 90px;
  height: 180px;
  margin: -90px 0 0 -45px;
}

.hidden-window .bx-bx > li[data-value] .h-w-item-prod:before,
.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value] .h-w-item-img > span:before,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod > span,
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod > span,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-img > span:after,
.hidden-window .bx-bx > li[data-value="7"] .h-w-item-img > span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: block;
  width: 180px;
  height: 180px;
  margin: -90px 0 0 -80px;
  background: url('../images/pack_2.png') center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.hidden-window .bx-bx > li[data-value='1'] .h-w-item-prod:before {
  background: url('../images/pack_1.png') center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  height: 220px;
  margin: -85px 0 0 -70px;
}

.hidden-window[class*=" v1_"] .bx-bx > li[data-value="3"] .h-w-item-prod:before {
  left: 45%;
}

.hidden-window[class*=" v1_"] .bx-bx > li[data-value="3"] .h-w-item-prod:after,
.hidden-window[class*=" v1_"] .bx-bx > li[data-value="5"] .h-w-item-prod:after {
  left: 3%;

  width: 75px;
  height: 150px;
  margin: -75px 0 0 0;
}

.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after,
.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after {
  left: 0;
  z-index: 2;
  width: 120px;
  height: 120px;
  margin: -70px 0 0 10px;
}

.hidden-window[class*=" v1_"] .bx-bx > li[data-value="5"] .h-w-item-prod:before {
  left: 50%;
}

.hidden-window .bx-bx > li[data-value]:not([data-value="1"]) .h-w-item-prod:before {
  width: 150px;
  height: 150px;
}

.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:before {
  left: 0;
  width: 150px;
  height: 150px;
  margin: -63px 0 0 0;
}

.hidden-window[class*=" v1_"] .bx-bx > li[data-value="5"] .h-w-item-prod:after {
  left: 13%;
}

.hidden-window .bx-bx > li[data-value="5"] .h-w-item-prod:after {
  left: 45%;
  width: 150px;
  height: 150px;
  margin: -60px 0 0 0;
}

.hidden-window[class*=" v1_"] .bx-bx > li[data-value="5"] .h-w-item-prod > span {
  left: 0;
  width: 60px;
  height: 120px;
  margin: -60px 0 0 0;
}

.hidden-window[class*=" v1_"] .bx-bx > li[data-value="7"] .h-w-item-prod:before {
  width: 150px;
  height: 150px;
  margin: -85px 0 0 -75px;
}

.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod span {
  z-index: 1;
  height: 135px;
  margin: -90px 0 0 -125px;;
}

.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod span:nth-child(2) {
  height: 160px;
  margin: -85px 0 0 -30px;
}

.hidden-window .bx-bx > li[data-value="7"] .h-w-item-prod:after {
  height: 170px;
  margin: -89px 0 0 -60px;
}

.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:before {
  margin: -55px 0 0 -60px;
}

.hidden-window .bx-bx > li[data-value="3"] .h-w-item-prod:after {
  height: 170px;
  margin: -70px 0 0 25px;
}

.hidden-window .mobile-balance {
  display: none;
}

@media screen and (max-width: 1023px) {
  .input_inner {
    padding: 0 22px;
  }

  .second-page__header .stamp-list {
    display: none;
  }

  .hidden-window .h-w-vis-mob,
  .hidden-window .h-w-main .h-w-contant {
    display: block;
  }

  .second-page__header .logo:before {
    width: 148px;
    right: 50%;
    display: none;
  }

  .second-page__main-right {
    width: 100%;
  }

  .second-page__main-left {
    width: 100%;
    margin-right: 0;
  }

  .second-page__main-right--leaves {
    display: none;
  }

  .second-page__wrapper:before {
    top: 60px;
    left: 75px;
    width: 115px;
    height: 75px;
    -webkit-background-size: 100px 100px;
    background-size: 100px;
  }

  .hidden-window__item {
    width: 100%;
  }

  .inner-block__description {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0 10px;
  }

  .inner-block-wrapper .h-w-check {
    display: none !important;
  }

  .inner-block__description-price:after {
    display: none;
  }

  .inner-block__description-price:before {
    display: none;
  }

  .second-page__header-inner {
    padding-right: 0;
  }

  .second-page__header .logo {
    /* margin: 0 30px 0 0; */
    font-size: 30px;
  }

  .second-page__header .second-page__container:after {
    top: -35px;
    left: -40px;
    -webkit-background-size: 170px;
    background-size: 170px;
  }

  .second-page__header {
    display: block;
    max-width: 320px;
    margin: auto;
    margin-bottom: 30px;
  }

  .inner-block__description-title {
    margin: 30px 0 10px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
  }

  .inner-block__description-tagline {
    float: right;
    width: 150px;
    text-align: left;
    margin-top: 35px;
  }

  .inner-block__description-result {
    float: right;
    width: 145px;
    padding: 6px;
    font-size: 13px;
    line-height: 17px;
    text-align: left;
    margin-top: 5px;
  }

  .hidden-window__item {
    position: absolute;
    z-index: 1;
  }

  .hidden-window__item__product-wrapper img.one_package:nth-child(1) {
    position: absolute;
    top: 0;
    left: 15px;
    height: 135px;
    margin-left: 0;
  }

  .hidden-window__item-balance {
    position: absolute;
    bottom: -332px;
    left: 15px;
    display: none;
  }

  .hidden-window .bx-bx > li[data-value="1"] .hidden-window__item-img {
    top: 45px;
    left: -10px;
  }

  .hidden-window .bx-bx > li[data-value="5"] .hidden-window__item-balance {
    bottom: -355px;
  }

  .hidden-window .bx-bx > li[data-value="7"] .hidden-window__item-balance {
    bottom: -375px;
  }

  .hidden-window__item-balance span {
    font-size: 36px;
    line-height: 36px;
  }

  .inner-block__description-text {
    position: relative;
    margin-top: 55px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 0;
  }

  .hidden-window .bx-bx > li[data-value="7"] .inner-block__description-text {
    margin-top: 75px;
  }

  .inner-block__description-text:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin: auto;
    border-bottom: 1px dashed #d7d7d7;
  }

  .second-page__main-left .inner-block {
    padding-bottom: 0;
  }

  .inner-block__description-price {
    text-align: center;
    padding: 5px 0 15px;
    border: none;
  }

  .second-page__container {
    max-width: 320px;
  }

  .mobile-confirmation {
    display: block;
    margin-bottom: -20px;
  }

  .mobile-confirmation__button {
    position: relative;
    display: block;
    width: 240px;
    margin: auto;
    padding: 10px;
    padding-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #959595;
    background: #ebebeb;
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .inner-block-wrapper,
  .second-page__main-left .inner-block {
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .second-page__main-left .inner-block {
    position: relative;
    padding-top: 25px;
  }

  .inner-block__description-price--new span.price-text {
    display: none;
  }

  .hidden-window__item-sale {
    top: -15px;
    left: -5px;
    padding-right: 10px;
    background-size: cover;
  }

  .hidden-window__item__best {
    top: -65px;
    left: 175px;
  }

  .second-page__form {
    margin-top: 35px;
    padding-bottom: 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  .second-page__form--pay-delivery,
  .transition-text,
  .second-page__form--free-delivery {
    display: none;
  }

  .second-page__form--mobile-pay {
    display: block;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 0;
  }

  .second-page__form--mobile-pay__wrap {
    font-size: 0;
    text-align: center;
  }

  .second-page__form--mobile-pay h3 {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 28px;
    text-transform: inherit;
  }

  .second-page__form--mobile-pay .pay-delivery,
  .second-page__form--mobile-pay .free-delivery {
    display: inline-block;
    width: 50%;

    vertical-align: top;
  }

  .mobile-pay__button {
    display: block;
    width: 135px;
    margin: auto;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    background: #fff;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  .second-page__main .delivery-price {
    font-size: 16px;
  }

  .mobile-pay__link {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 130px;
    margin: auto;
    padding: 13px 10px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #f10c4d;
  }

  .second-page__form--mobile-pay p {
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  .second-page__main .tape-text__mobile {
    position: relative;
    display: block;
    width: 120px;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #d60832;
    text-transform: uppercase;
    background: #ffffff;
  }

  .second-page__main .tape-text__mobile:before,
  .second-page__main .tape-text__mobile:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 10px solid #20282d;
    border-bottom: 15px solid transparent;
  }

  .second-page__main .tape-text__mobile:before {
    left: 0;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

  .hidden-window .slider-list li:nth-child(3) .hidden-window__item-sale {
    top: -35px;
  }

  .h-w-guarantee h3 {
    padding: 20px 0;
  }

  .guarantee-list li {
    margin-bottom: 15px;
  }

  .guarantee-list li:before {
    top: -2px;
  }

  .guarantee-list {
    padding: 20px 15px;
  }

  .second-page__main-left--bottom-text {
    margin-top: 20px;
    padding-bottom: 15px;
  }

  .stamp-list__bottom img {
    width: 60px;
    margin-right: 15px;
  }

  .stamp-list__bottom {
    padding-bottom: 30px;
  }

  .second-page__main-left--bottom-text span {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .second-page__main-left--bottom-text {
    padding: 0 10px 10px 10px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .second-page__main-left--bottom-text br {
    display: block;
  }

  .slider-list li:nth-child(3) .inner-block-wrapper .hidden-window__item__product-wrapper {
    margin-left: -155px;
  }

  .hidden-window__item__product-wrapper img:nth-child(3) {
    left: 5px;
    height: 100px;
  }



  .hidden-window__item__product-wrapper img:nth-child(1) {
    position: absolute;
    left: 0;
    height: 115px;
  }

  .hidden-window__item__product-wrapper img:nth-child(2) {
    height: 100px;
    margin-left: 0;
  }



  .slider-list li:nth-child(2) .inner-block-wrapper .hidden-window__item__product-wrapper {
    margin-top: 0;
    margin-right: 175px;
  }



  .hidden-window__item__product-wrapper img:nth-child(4) {
    right: 175px;
    z-index: 10;
    height: 100px;
  }

  .slider-list li:nth-child(4) .inner-block-wrapper .hidden-window__item__product-wrapper {
    margin-left: -165px;
  }

  .slider-list li:nth-child(4) .hidden-window__item__product-wrapper img:nth-child(3) {
    left: 33px;
  }



  .hidden-window__item-img {
    margin-right: 40px;
  }

  .hidden-window .slider-list li:nth-child(3) .inner-block {
    padding-top: 65px;
  }

  .hidden-window .slider-list li:nth-child(3) .inner-block__description-title {
    float: none;
    width: auto;
    margin-top: 25px;
    text-align: center;
  }



  .hidden-window .bx-pager {
    display: block;
    margin: 30px 0 -10px;
    text-align: center;
    counter-reset: h-w-bx -1;
  }

  .hidden-window .bx-pager .bx-pager-item {
    display: inline-block;
    margin: 5px;
  }

  .hidden-window .bx-pager .bx-pager-link {
    display: block;
    width: 45px;
    height: 45px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #b62c30;
  }

  .hidden-window .bx-pager .bx-pager-link:before {
    content: "1";
    display: block;
    padding: 5px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
  }

  .hidden-window .bx-pager .bx-pager-item:nth-child(2) .bx-pager-link:before {
    content: "2+1";
  }

  .hidden-window .bx-pager .bx-pager-item:nth-child(3) .bx-pager-link:before {
    content: "3+2";
  }

  .hidden-window .bx-pager .bx-pager-item:nth-child(4) .bx-pager-link:before {
    content: "4+3";
  }

  .hidden-window .bx-pager a.bx-pager-link.active {
    background: #b62c30;
  }

  .second-page__header-wrapper:after {
    display: none;
  }

  .slider-list li:nth-child(4) .hidden-window__item__product-wrapper img:nth-child(2) {
    margin-left: 65px;
  }

  .second-page__main-left .bx-bx > li.active .mobile-confirmation__text:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    display: block;
    width: 23px;
    height: 24px;
    background: url(check2.png) no-repeat center;
  }

  .second-page__wrapper:after {
    display: none;
  }

  .hidden-window__item-img {
    position: absolute;
    top: 30px;
    left: 0;
    width: 230px;
    height: 215px;
    margin: 0 auto;
  }

  .hidden-window .bx-bx > li[data-value="1"] .h-w-item-prod:before {
    width: 130px;
    height: 155px;
    margin: 15px 0 0 10px;
    left: 0;
  }

  .hidden-window .bx-bx > li .h-w-item-prod {
    position: relative;
    /*border: 1px solid red;*/
    margin: 20px 0 0 5px;
  }

  .hidden-window .bx-bx > li[data-value] .h-w-item-prod span {
    left: 0;
    width: 60px;
    height: 130px;
    margin: 15px 0 0 0;
  }

  .hidden-window .bx-bx > li[data-value] .h-w-item-prod span:nth-child(2) {
    left: 0;
    width: 55px;
    height: 120px;
    margin: 25px 0 0 75px;
  }

  .hidden-window .bx-bx > li[data-value]:not([data-value="1"]) .h-w-item-prod:before {
    width: 65px;
    height: 145px;
    margin: 5px 0 0 20px;
    left: 0;
    z-index: 4;
  }

  .hidden-window .bx-bx > li[data-value] .h-w-item-prod:after {
    left: 0;
    width: 60px;
    height: 130px;
    margin: 15px 0 0 50px;
  }

  body .slider-list li:nth-child(n+1) .hidden-window__item-img .present-block {
    top: auto;
    left: auto;
    bottom: 0;
    right: 50%;
    margin: 0 -10px 30px 0;
    width: 60px;
    height: 60px;
  }

  .slider-list li:nth-child(n+1) .present-block__images:before {
    width: 55px;
    height: 55px;
    top: 0;
    left: 0;
    margin-left: -3px;
  }

  .slider-list li:nth-child(n+1) .present-block__images:after {
    margin: -15px 0 0 -15px;
  }

  .slider-list li:nth-child(n+1) .present-block__images img {
    height: 60px;
    margin-right: 3px;
  }

  .slider-list li:nth-child(n+1) .present-block__images img:nth-child(2) {
    margin-left: -10px;
  }

  .slider-list li:nth-child(n+1) .present-block__images img:nth-child(3) {
    left: 50%;
    height: 65px;
    margin-left: -17px;
  }

  .slider-list li:nth-child(n+1) .present-block__text {
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
    left: 0;
  }

  .hidden-window .mobile-balance {
    display: block;
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    left: -20px;
    bottom: -14px;
    margin-top: 5px;
  }

  .hidden-window .mobile-balance span {
    font-weight: 700;
    font-size: 36px;
    color: #bebebe;
    margin-right: 5px;
  }


}

.mobile-confirmation__button.active {
  position: relative;
  padding-left: 40px;
  color: #fff;
  background: #b62c30;
  outline: none;
}

.mobile-confirmation__button.active:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  display: block;
  width: 23px;
  height: 24px;
  background: url(check2.png) no-repeat center;
}

.sec--total {
  margin: 5px auto 15px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.total_red {
  font-size: 28px;
}

.total_red font {
  color: #b62c30;
}

.adcPayModalBox {
  z-index: 1000 !important;
}

.payment-online__timer {
  padding-bottom: 10px;
}

.timer__text,
.timer__target {
  color: #fff
}

.timer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.timer__target {
  font-family: "Open Sans Light", sans-serif;
  font-size: 44px;
}