body { 
	font-size: 15px; 
	background: #f4e9f5; 
	font-family: Arial, Helvetica, sans-serif;
	background:url(../images/bg1.jpg);
	 }
*{box-sizing: border-box;}
a { color: #700683; font-weight: bold; }

a:hover { color: #edbbf6; }
img {}
.container { max-width: 910px;width: 100%; padding: 5px; color: #222; border: 5px solid #e9cfed; margin-top: 20px; margin-right: auto; margin-bottom: 20px; margin-left: auto; }

.logo { font-size: 33px; font-weight: bold; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; margin-bottom: 10px; }
.logo img {width: 100%;}
.slogan { display: block; border: 1px solid #e9cfed; background-color: #f4e9f5; padding: 10px; font-size: 18px; padding-left: 20px; font-weight: normal; margin: 10px 0 10px; }

.slogan a { background-color: #f4e9f5 !important; font-weight: bold; }

.content { background: #fff; padding: 10px 10px 25px 10px; line-height: 23px; border: 1px solid #d99bdd; text-align: justify; margin-top: 5px; }

.content p { margin: 5px 0 12px 0; }

.title { font-family: Arial, Helvetica, sans-serif; padding: 0 0 15px 0; font-size: 33px; font-weight: bold; line-height: 37px; text-align: left; color: #00F; border-bottom: 1px solid #e9cfed; margin-bottom: 15px; }

.offer { margin: 20px 0; border: 1px solid #e9cfed; padding: 10px; }

.step { padding: 0 0 5px 0; font-size: 16px; font-weight: bold; margin-bottom: 10px; }

.clear { clear: both; }

.footer { padding: 20px 0 0 0; text-align: center; }

.footer a { font-size: 16px !important; background: none !important; }

h2 { line-height: 33px; font-size: 20px; text-align: left; color: #00F; }

.position1 { position: absolute; bottom: 0px; left: 1px; font-weight: bold; padding: 5px 10px; background: #da4ae3; color: white; }

.position2 { position: absolute; bottom: 0px; right: 0px; font-weight: bold; padding: 5px 10px; background: #da4ae3; color: white; }

.fb_reset { background: none; border: 0; border-spacing: 0; color: #000; cursor: auto; direction: ltr; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0; overflow: visible; padding: 0; text-align: left; text-decoration: none; text-indent: 0; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }

#fbFeedbackContent a { cursor: pointer; color: #3B5998; text-decoration: none; font-weight: bold; }

#fbFeedbackContent .top { padding: 9px 0 7px; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC; }

#fbFeedbackContent .top a { float: right; }

#fbFeedbackContent li { padding: 10px 0; border-bottom: 1px #E2E2E2 solid; }

#fbFeedbackContent li li { margin-left: 60px; border-bottom: none; margin-top: 5px; border-top: 1px #E2E2E2 solid; }

#fbFeedbackContent span { color: grey; }

#fbFeedbackContent .postContainer { display: table-cell; vertical-align: top; width: 10000px; }

#fbFeedbackContent .image { float: left; background-color: #EDEDED; margin-bottom: 8px; margin-right: 11px; }

#fbFeedbackContent .bottom { color: gray; }

#fbFeedbackContent .bottom a { font-weight: normal; }

#fbFeedbackContent .bottom .like i { background: url(../images/sprite.png); background-position: -33px -170px; display: inline-block; width: 15px; height: 13px; }

.uiLinkSubtle { display: block; color: gray; font-weight: normal; font-size: 9px; margin-top: 6px; }

.uiLinkSubtleIcon { float: left; display: block; background: url(../images/sprite.png); background-position: 0px -187px; height: 14px; width: 14px; margin-right: 5px; margin-top: 5px; }

li, ul { margin: 0px; padding: 0px; }

li { list-style: none; }
@media screen and (max-width: 600px) {
.img {width: 100%}
.order {
    display: block;
}
}

/*order*/

button, input, select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

.btn {
    max-width: 200px;
    width: 100%;
    border-radius: 3px;
    background: -webkit-gradient(linear, left bottom, left top, from(#f01901), to(#f98830));
    background: -o-linear-gradient(bottom, #f01901 0%, #f98830 100%);
    background: linear-gradient(to top, #f01901 0%, #f98830 100%);
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    padding: 18px 8px;
    cursor: pointer;
    position: relative;
    border: none;
}

.btn:after {
    content: '';
    background: #b62307;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -2px;
    z-index: 2;
    border-radius: 0px 0px 3px 3px;
}

.btn:hover {
    background: #b62307;
}

.order {
  display: table;
  width: 100%;
  text-align: center;
  padding: 30px 0 0;
}

.timer-wrapper {
  width: 290px;
  margin: 20px auto 30px;
}

.flip-clock-wrapper {
  margin: 0!important;
}

.timer-text {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px;
}

.flip-clock-wrapper ul li a div div.inn {
  font-size: 20px!important;
  line-height: 2.1;
}
.flip-clock-wrapper ul li a div {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    font-size: 80px;
    overflow: hidden;
    outline: 1px solid transparent;
}
.flip-clock-divider {
    width: 15px!important;
    height: 40px!important;
}
.flip-clock-wrapper ul {
  width: 30px!important;
  height: 40px!important;
}
.flip-clock-divider.minutes .flip-clock-label {
    right: -67px;
}

.flip-clock-divider {
  width: 15px;
  height: 40px;
}

.flip-clock-divider .flip-clock-label {
  right: -67px;
  top: 100%;
  margin-top: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -67px;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -70px;
}

.flip-clock-dot.bottom {
  bottom: 15px!important;
}

.flip-clock-dot {
  width: 5px!important;
  height: 5px!important;
}

.prod {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.price {
  position: absolute;
  background: #ff0000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 15px 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.price__old {
  text-decoration: line-through;
}

.price__new {
  font-size: 20px;
}

.form__wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: bottom;
}

.form__field {
  border: 1px solid #000;
  margin-bottom: 10px;
  position: relative;
}

.form__field_select:before {
  content: '';
  border: 5px solid transparent;
  border-top-color: #000;
  position: absolute;
  top: 50%;
  right: 0;
  margin: -2px 15px 0 0;
}

select, option, input {
  display: block;
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 5;
}

select::-ms-expand {
  display: none;
}

.wrapper-button {
  text-align: center;
}

@media screen and (min-width: 1100px) {

  .order__cell {
    display: table-cell;
    vertical-align: middle;
  }

}
@media screen and (max-width: 320px) {
.timer-wrapper {
      margin: 0 0 0 -20px;

}
}
